body{
    font-family: sans-serif;
    image-rendering: pixelated;
    user-select: none;
    position: relative;
}

h1{
    background-color: rgb(241, 227, 208);
}
#game-title{
    margin-top: 100px;
    color: rgb(63, 36, 11);
    text-align: center;
    padding: 10px;
    font-size: 2em;
}

#stage-one {
    overflow: hidden;
    border-radius: 15px;
    border: 4px solid rgb(219, 163, 126);
}

#button-container{
    margin-top: 10px;
    gap:5px;
}

.col-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#juice-meter{
    border: 4px solid rgb(36, 33, 33);
    border-radius: 25px;
    overflow: hidden;
    height: 265px;
    width: 60px;
    background-color: rgb(95, 95, 95);
    margin-right: 20px;
    position: relative;
}

#juice-level{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    position: relative;
    z-index: 2;
    color: white;
}

#juice {
    display: flex;
    height: 265px;
    width: 60px;
    background-color: rgb(230, 55, 42);
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#skeleton{
    border: 8px solid rgb(36, 33, 33);
    box-sizing: border-box; 
    overflow: hidden;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: rgb(219, 219, 219);
    margin-bottom: 20px;
    position: relative;
    display: flex;
}

#skeleton-juice{
    display: flex;
    height: 0px;
    width: 150px;
    background-color: rgb(230, 55, 42);
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#skeleton-level{
    margin: auto;
    font-size: 100px;
    position: relative;
    z-index: 2;
}

#pump-button{
    border-radius: 10px;
    height: 100px;
    width: 200px;
    background-color: rgb(255, 102, 0);
    display: flex;
}

#pump-text {
    margin: auto;
    font-size: 3em;
    font-weight: bold;
    color:#ffcfbc
}

#creator-div{
    height:340px;
    width:340px;
    background-color: rgb(255, 242, 226);
}

#spawn-div{
    height:340px;
    width:340px;
    background-color: bisque;
    position: relative;
    display: flex;
}

.ball-counter {
    margin-top:auto;
    font-size: 1.25em;
    margin-left: 15px;
    margin-bottom: 15px;
}


.ball {
    position: absolute;
    border-radius: 50%; /* Make them circular */
    background-color: rgb(230, 55, 42); /* Red balls for visibility */
    transition: all 0.4s ease;
    display: flex;
}

.ball p{
    margin: auto;
}

.help-link{
    padding-left: 10px;
    color: green;
    display: inline-block;
    font-size: 1.5em;
}

.help-link:hover {
    font-weight: bold;
}

#version{
    position: sticky;
    top: 5px;
    left: 5px;
    display: inline-block;
    color: gray;
}

.deny-link{
    padding-left: 10px;
    color: maroon;
    display: inline-block;
    font-size: 1.5em;
}

.deny-link:hover {
    font-weight: bold;
}

#hidden-on-load{
    visibility: hidden;
}

.death-message{
    color:red;
    opacity: 1;
    transition: all 0.5s ease 0.5s, bottom 1s linear;
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#chat-box {
    display: flex;
    flex-direction: column;
    height: 100px;
    z-index: 9;
}