body{
    font-family: sans-serif;
    image-rendering: pixelated;
    user-select: none;
}


#game-title{
    margin-top: 100px;
    color: rgb(63, 36, 11);
    text-align: center;
    padding: 10px;
    font-size: 4em;
    font-weight: bold;
}

#stage-one {
    width:700px;
    height:500px;
}


#stage-two {
    width:700px;
    height:350px;
}

#water-pump {
    background-color: rgb(117, 117, 117);
    width:20px;
    height:80px;
    margin-left: 60%;
}

#valve-handle{
    background-color: rgb(78, 149, 197);
    width:40px;
    height:40px;
    position: relative;
    top:15px;
    right: 10px;
    cursor: pointer;  
    transition: transform 0.2s linear;
}

#divider {
    background-color: rgb(117, 117, 117);
    margin-left: auto;
    margin-right: auto;
    width:10px;
    height:100%; 
    z-index : 2;
}

.trapezoid {
	border-top: 50px solid #555;
	border-left: 50px solid transparent;
	height: 0;
	width: 70px;
    align-self: flex-start;
}

#pump-pipe{
    border: solid;
    border-color: rgb(97, 97, 97);
    border-width: 0px 15px 15px 0px;
    background-color: transparent;
    width: 35px;
    height: 20px;
    margin-bottom: auto;
    margin-right: auto;
}

#ratio-button{
    cursor: pointer;
    background-color: rgb(117, 117, 117);
	height: 35px;
	width: 50px;
}


.popup {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,
            0,
            0,
            0.4);
    display: none;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}

.popup-content button {
    display: block;
    margin: 0 auto;
}

.show {
    display: block;
}

#pipe{
    background-color: rgb(117, 117, 117);
    width:15px;
    height:10px;
    position: relative;
}

#press{
    background-color: rgb(75, 75, 75);
    height:15px;
    width: 100%;
    top: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    transition: top 0.2s linear;
}

#screw-holder{
    border: solid;
    border-color: rgb(97, 97, 97);
    border-width: 10px 10px 0px 10px;
    background-color: transparent;
    width: 140px;
    height: 10px;
    position: relative;
}

#screw{
    height:130px;
    width: 20px;
    left: 72.5px;
    bottom: 15px;
    position: absolute;
    background-attachment: fixed;
    background: repeating-linear-gradient(
        23.8deg,
        rgb(46, 46, 46),
        rgb(46, 46, 46) 1%,
        rgb(75, 75, 75) 1.5%,
        rgb(75, 75, 75) 6%,
        rgb(46, 46, 46) 6.5%
    );
    background-size: 100% 130px;
}   

.screw-animation{
    animation: moveDown 0.2s linear;
}

@keyframes moveDown {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 20px 0;
    }
}

#screw-handle{
    height:15px;
    width: 80px;
    right: 30px;
    bottom: 10px;
    position: relative;
    background-color: rgb(97, 97, 97);
    cursor: pointer;
    transition: transform 0.2s linear;
}

#screw-handle-face{
    position: absolute;
    right: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(150, 150, 150);
    transition: width 0.2s ease-in;
}

#corpse-volume{
    background-color: rgb(230, 55, 42);
    width:100%;
    height: 0%;
    bottom: 0;
    position: absolute;
}

#press-bucket{  
    border: solid;
    border-color: rgb(117, 117, 117);
    border-width: 10px;
    background-color: rgb(214, 214, 214);
    width: 165px;
    height: 105px;
    position: relative;
}

#juice-volume{
    background-color: rgba(230, 55, 42);
    width:80px;
    height: 50%;
    bottom: 0;
    position: absolute;
    transition: height 0.025s linear;
}

#water-volume{
    background-color: rgb(165, 165, 165,0.5);
    width:80px;
    height: 0%;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: height 0.025s linear;
}

#juice-bucket{
    border: 10px solid rgb(117, 117, 117);
    background-color: rgb(214, 214, 214);
    width: 170px;
    height: 190px;
    margin: auto;
    position: relative;
    display: flex;
}


#mine-div{
    background-color: rgb(117, 117, 117);
    width:50%;
    height:350px;
}

#button-container{
    margin-top: 10px;
    gap:5px;
}

.col-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#skeleton{
    border: 4px solid rgb(117, 117, 117);
    overflow: hidden;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    background-color: rgb(219, 219, 219);
    position: relative;
    display: flex;
}


#pump-button{
    height: 40px;
    width: 30px;
    background-color: rgb(255, 102, 0);
    display: flex;
    cursor: pointer;  
}


#creator-div{
    height: 100%;
    width:66.7%;
    background-color: rgb(255, 242, 226);
    box-sizing: border-box;
}

#spawn-div{
    height:100%;
    width:33.3%;
    background-color: bisque;
    position: relative;
    display: flex;
    box-sizing: border-box;
}



.ball {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(230, 55, 42);
    transition: opacity 0.1s ease;
    display: flex;
}

@keyframes smoothWave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .smooth-wave {
    animation: smoothWave 3s infinite ease-in-out;
  }

.ball-purity{
    font-size: 0.75em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0;
}

.ball-eyes{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 1.75em;
}

#version{
    position: sticky;
    top: 5px;
    left: 5px;
    display: inline-block;
    color: gray;
}

#tab-container{
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    width: 700px;
    background-color: maroon;
    gap: 4px;
    border: 4px solid maroon;
}

.tab{
    color: white;
    text-align: center;
    background-color: brown;
    padding: 10px;
    flex: 1;
    cursor: pointer;  
}

.tab:active {
    background-color: rgb(109, 27, 27);  
}


#hidden-on-load{
    visibility: hidden;
}

.death-message{
    color:red;
    opacity: 1;
    transition: all 0.5s ease 0.5s, bottom 1s linear;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
